{% extends 'event/base.html' %}
{% block title %}Add Money{% endblock %}
{% block wallet_active %}active{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <h3>Add Money</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-sm-2">
                                <label>Balance:</label>
                            </label>
                            <div class="col-sm-10">
                                <input type="text" name="balance" value="{{ profile.wallet_balance }}" aria-readonly="true" readonly>
                            </div>
                        </div>
                        {% include 'event/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Add Money</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
