{% extends 'event/base.html' %}
{% block title %}Buy Ticket{% endblock %}
{% block wallet_active %}active{% endblock %}

{% block body %}

    <h5 class="error_message">{{ error_message }}</h5>
    {% if error_balance %}
        <h5 class="error_message">{{ error_balance }}</h5>
        <a href="{% url 'event:add_money' profile.user.pk %}"><button>Add Money</button></a>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <label for="wallet_balance">
            Available Balance:
            <input type="text" name="balance" value="{{ profile.wallet_balance }}" aria-readonly="true" readonly>
        </label>
        <label for="wallet_balance">
            Ticket Fare:
            <input type="text" name="balance" value="{{ event.fare }}" aria-readonly="true" readonly>
        </label>
        {{ form }}
        <input type="submit" value="Submit">
    </form>

{% endblock %}