{% extends 'event/base.html' %}
{% block title %}Send invitations{% endblock %}

{% block body %}

    <h4>
        Type 'yes' beside username to send invitations to that user for the event: <strong>{{ event.name }}</strong> else type 'no'
    </h4>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <h3>Send Invitations</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="{% url 'event:send_invites' event.id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for user in users %}
                        <label>
                            {{ user.first_name }} {{ user.last_name }}
                            <input type="text" name="{{ user.username }}">
                        </label>
                        <br>
                        {% endfor %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Send Invitations</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}