body {
    background: white url("./../images/background.png");
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.error_message {

}

/*Need to add styles to lot of classes*/